<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../scripts/board.js" type="module" defer></script>
        <script src="../scripts/arrowKeys.js" type="module" defer></script>
        <script src="../scripts/main.js" type="module" defer></script>
        <link rel="stylesheet" href="../styles/style.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="score">
            <span class="current-score">Current Score: 0</span>
            <span class="highest-score">Highest Score: 0</span>
        </div>
        <div class="board">
            <div class="game-info">
                Press any key to start!
                <br />
                <br />
                You may press + or -  to modify the snakes' speed during the game.
            </div>
        </div>
    </body>
</html>
